<a href="https://colab.research.google.com/github/matifrank/matifrank/blob/main/Gender%20Predictive%20Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- Esta librería parte de la base siguiente https://github.com/jeremybmerrill/beauvoir, pero con una adaptación a más nombres latinos.

- Doc de librería https://pypi.org/project/gender-detector/

In [ ]:
import pandas as pd

#La librería no se importa bien como menciona en la documentación, se puede cargar de la siguiente manera
from gender_detector import gender_detector as gd

#cargamos dataset de leads con sus nombres 
crm = pd.read_csv('docs/2020.08-02mxBU.csv', skipinitialspace=True, sep=';', header=0, error_bad_lines=False, encoding = "ISO-8859-1", parse_dates=['Recibido'], dayfirst=True)

Cargamos la base de nombres de la librería, en este caso la de Argentina no la carga por un tema de codificación del archivo utf-8 por lo que pude ver:
"'charmap' codec can't decode byte 0x81 in position 1986: character maps to  undefined "

In [ ]:
#cargamos la base de nombres de la librería
detector1 = gd.GenderDetector('ar')
detector2 = gd.GenderDetector('us')
detector = gd.GenderDetector('uy')

In [ ]:
#procedemos a usar Gendedetector de "uy" que mantiene relación al de Argentina 
detector.guess('Atahualpa')

'male'

In [ ]:
#tomo una muestra de los leads cargados
subset = crm.iloc[0:25, 24] 
df = pd.DataFrame(subset)

In [ ]:
#Tomo la primera palabra de la columna nombre usuario y elimino duplcados en este caso para probar nombres únicos
names = df[['Nombre Usuario']].apply(lambda x: x.str.split().str[0]) 
names = pd.DataFrame(names)
df=names['Nombre Usuario'].drop_duplicates().tolist()

In [ ]:
#corro función sobre nombres y genero lista de resutlados y print de resultados
gen=[]

for name in df :
    result = detector.guess(name)
    gen.append(result)

In [ ]:
#Genero df unificado de nombres y resultados
gender= pd.DataFrame()
gender['Nombre']  = df
gender['Gen']  = gen

In [ ]:
gender

      Nombre     Gen
0    Daniela  female
1      Leydi  female
2     Silvia  female
3    Eleazar    male
4    Eduardo    male
5        Ana  female
6     Andrea  female
7    Antonio    male
8   Victoria  female
9   Briseida  female
10   daniela  female
11      Luis    male
12   Valeria  female
13       Luz  female
14     Maria  female
15    Aranza  female
16     Kevin    male
17     Katya  female
18    Marina  female

Para este caso es posible acceder a las bases siendo archivos .csv, que tienen los nombres y atributos, para agregar aquellos que no logra identificar o mismo modificar "female" por otro valor. 

ruta de acceso en mi local:
\anaconda3\Lib\site-packages\gender_detector\data\uyprocessed

Otra opcion encontrada funciona a través de API pero con limitación a 1000 nombres diarios o de pago de 10usd al mes para procesar 100000 nombres y con bases más completas, por países y mayores atributos:
#https://genderize.io/our-data

In [ ]:
#https://pypi.org/project/Genderize/

from genderize import Genderize

print(Genderize().get(['Atahualpa', 'Eva', 'pedro','José María', 'María José']))

[{'name': 'Atahualpa', 'gender': 'male', 'probability': 0.96, 'count': 55}, {'name': 'Eva', 'gender': 'female', 'probability': 0.98, 'count': 135031}, {'name': 'pedro', 'gender': 'male', 'probability': 0.99, 'count': 165413}, {'name': 'José María', 'gender': None, 'probability': 0.0, 'count': 0}, {'name': 'María José', 'gender': None, 'probability': 0.0, 'count': 0}]